@use '../base/colors';
@use '../util/fonts';
@use '../util/mixins' as mix;
@use '../components';

main {

  @include mix.flex($direction: column, $align: initial);

  .hero {
    @include mix.size;
    width: 100%;
    height: auto;
    position: relative;

    .play-button {
      transition: all 0.1s ease-in-out;
      margin: 0;
      position: absolute;
      top: 50.5%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      cursor: pointer;
      z-index: 2;

      &:hover {
      opacity: 0.9;
        transition: all 0.1s ease-in-out;
      }
    }
  }

  .hero-image {
    @include mix.size;
  }
}

.description {
  padding: 132px 355px 150px;
  text-align: center;
  color: colors.$dark-blue;
  margin-bottom: 1px;

  .Text2 {
    margin-right: -7px;
  }
}

.people {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  
  .ripped-top {
    position: absolute;
    left: 0;
    top: -0.1rem;
    width: 100%;
    z-index: 1;
    transform: rotate(180deg);
    height: 63px;
  }

  .ripped-bottom {
    position: absolute;
    left: 0;
    bottom: -0.9rem;
    width: 100%;
    z-index: 1;
    height:60px;
  }
}

.column {

  &:nth-of-type(1) {
    flex: 24%;
  }

  &:nth-of-type(2) {
    flex: 24.5%;
  }

  &:nth-of-type(3) {
    flex: 21.8%;
  }

  &:nth-of-type(4) {
    flex: 29.7%;
  }
}

.one {
  top: 1.3rem;
  margin-top: 1.3rem;
  width: 100%;
}

.two {
  width: 100%;
  margin-top: 1.6rem;
}

.three {
  width: 100%;
  margin-top: 1.4499999999999993rem;
}

.four {
  width: 100%;
  margin-top: 0rem;
}

.five {
  width: 100%;
  max-width: 100%;
}

.call-to-action {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 164px 168px 152px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3.5rem;

    &:nth-of-type(2) {
      margin-left: 1rem;

      h3 {
        margin-left: 5rem;
      }
    }

    h3 {
      text-align: center;
      color: colors.$dark-blue;
      padding-bottom: 50px;
      margin-left: -0.2rem;
    }

    button {
      font-family: fonts.$Montserrat;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      height: 50px;
      width: 233px;
      border: none;
      margin-top: -0.5rem;
      border-radius: 25px;
      background-color: colors.$orange;
      color: colors.$white;
      transition: all 0.1s ease-in-out;

      &:hover {
        background-color: colors.$hover;
        transition: all 0.1s ease-in-out;
      }

      &:active {
        background-color: colors.$orange;
      }
    }

    .bussiness-button {
      margin-left: 5rem;
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 612px;

  h2 {
    text-align: center;
    color: colors.$dark-blue;
    margin-bottom: 54px;
    text-align: center;
  }

 
}

.form {
  width: 100%;
  margin-top: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    height: 43px;
    border-radius: 6px;
    margin-bottom: 14px;
    text-indent: 0.5rem;
    background: rgba(196, 196, 196, 0.4);
    border: none;
    font-family: fonts.$Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    justify-content: center;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    -webkit-text-fill-color: colors.$dark-blue;
    color: colors.$dark-blue;
    transition: all 0.1s ease-in-out;

    &:focus {
      outline: 2px solid colors.$orange;
      transition: all 0.1s ease-in-out;
    }
  }

  input::placeholder {
    -webkit-text-fill-color: colors.$dark-blue;

    opacity: 1; /* Firefox */
  }

  textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #0bf;  
    -webkit-text-fill-color: colors.$dark-blue;
  }
  
  textarea {
    width: 100%;
    margin-bottom: 15px;
    text-indent: 0.5rem;
    padding-top: 0.8rem;
    transition: all 0.1s ease-in-out;
    -webkit-text-fill-color: colors.$dark-blue;

    &:focus {
      outline: 2px solid colors.$orange;
      transition: all 0.1s ease-in-out;
    }
  }

  textarea::placeholder {
    -webkit-text-fill-color: colors.$dark-blue;
    opacity: 1; /* Firefox */
  }
}


.important {
  font-family: fonts.$Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: colors.$dark-blue;
  margin-bottom: 0.45rem;
}
  
.name-email {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  input {
    width: 48%;
  }
}

.mobile, textarea {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 6px;
  background: rgba(196, 196, 196, 0.4);
  border: none;
  font-family: fonts.$Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: colors.$dark-blue;
}

.rules {
  display: flex;
  flex-direction: row;
  margin: 26px 0;
  font-family: fonts.$Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: colors.$dark-blue;
  padding-bottom: 27px;
  justify-content: space-between;

  input {
      background-color: #E7E7E7;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      width: 16px;
      height: 16px;
  }

  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'] {
      -webkit-appearance: none;
      -moz-appearance: none;
      position: relative;
      background-color: #E7E7E7;

      cursor: pointer;
      
      margin: 0;
      padding: 0;
      -webkit-transition: background .3s, border-color .3s, box-shadow .2s;
      transition: background .3s, border-color .3s, box-shadow .2s;
    }
    input[type='checkbox']:after {
      content: '';
      display: block;
      position: absolute;
      top: 0; 
      left: 0;
      -webkit-transition: opacity 0.2s, -webkit-transform 0.3s ease;
      transition: opacity 0.2s, -webkit-transform 0.3s ease;
      transition: transform 0.3s ease, opacity 0.2s;
      transition: transform 0.3s ease, opacity 0.2s, -webkit-transform 0.3s ease;
    }
    input[type='checkbox']:checked {
      background: colors.$orange;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.6s cubic-bezier(.2, .85, .32, 1.2);
      transition: opacity 0.3s, -webkit-transform 0.6s cubic-bezier(.2, .85, .32, 1.2);
      transition: transform 0.6s cubic-bezier(.2, .85, .32, 1.2), opacity 0.3s;
      transition: transform 0.6s cubic-bezier(.2, .85, .32, 1.2), opacity 0.3s, -webkit-transform 0.6s cubic-bezier(.2, .85, .32, 1.2);
    }
  }

  span {
    width: 93.46%;
    margin-left: 27px;
  }
}

.send {
  height: 62px;
  width: 182px;
  border: none;
  border-radius: 31px;
  background-color: colors.$orange;
  font-family: fonts.$Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  transition: all 0.1s ease-in-out;
  align-self: center;
  justify-self: center;

  &:hover {
    background-color: colors.$hover;
    transition: all 0.1s ease-in-out;
  }

  &:active {
    background-color: #CD7C20;
  }
}

.supporters {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 168px 108px;
  z-index:-1;
  height: 533.32px;
  background-image: url(../img/Subtract.png);
  background-size: cover;
  // margin-bottom: -81px;
  margin-bottom: -138px;
  
  h3 {
    font-family: fonts.$Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: colors.$dark-blue;
  }
}

.supporters-logos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;

  img:nth-of-type(1) {
    width: 100%;
    height: auto;
  }

  img:nth-of-type(2) {
    width: 100%;
    height: auto;
  }
  
  img:nth-of-type(3) {
    width: 100%;
    height: auto;
  }

  img:nth-of-type(4) {
    width: 100%;
    height: auto;
  }
}

.scroll_up {
  border: none;
  border-radius: 0.313rem;
  cursor: pointer;
  padding: 1rem 1.3rem;
  position: sticky; 
  bottom: 100px; 
  z-index: 100; 
  display: none; 
  left: 90%;
  text-align: center;
  padding: auto;
  opacity: 0.8;
  transform: rotate(-90deg);
}

.mobile-nav {
  position: fixed;
  left: 100%;
  width: 100vw;
  bottom: 0;
  height: 100%;
  display: block;
  background-color: colors.$white;
  transition: 0.4s;
  z-index: 5;
}

 .active {
    top: 55px;
    left: 0;
  }

.languages {
  display: flex;
}

// Media Queries 
@media (min-width: 1201px) {
    .hero {
    height: 722px; 
    top: -1rem;
    position: relative;
    margin-top: -58px;

    .play-button {
      min-width: 86px;
       min-height: 83px;
     }

  }  
  .mobile-nav {
    display: none;
  }

  .contact {
    margin: 0 auto 148px;
  }
}

@media (max-width: 1200px) {
  .hero {
    max-height: 722px; 
    margin-top: -39px;
    width: 100%;
    top: 0;
    background-size: cover;

    .play-button {
      max-width: 86px;
       max-height: 83px;
     }
    }  
    
  .description {
    padding: 93px 6.25% 41px;
  }

  .supporters {
    padding: 0 80px 63px;
  }
  .supporters-logos div{
    padding: 25px;

    &:last-of-type {
      padding-right: 0;
    }
  }

  .active {
    padding-top: 80px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
  }
  
  .languages {
    display: flex;
    margin: 0 80px;
  }
  
  .mobile-nav a {
    display: block;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    z-index: 55;
    border-bottom: 3px solid transparent;
    transition: all 0.1s ease-in-out;
    // color: colors.$black;
    color: colors.$navbar;
    text-decoration: none;
  }

  
  .mobile-nav a:hover {
    border-bottom: 3px solid colors.$orange;
    transition: all 0.1s ease-in-out;
    text-shadow: 0px 0px 0.7px colors.$navbar;
    -webkit-text-stroke-width: 0.6px;
  }

  .sticky {
    position:fixed;
    left: 0;
    right: 0;
  }

  .call-to-action {
    div {
      height: 154px;
      justify-content: space-between;
    }
  }

  .contact {
    padding: 0 6.25%;
    margin: 0 auto 151px;
  }

  .people {
    .column {
      &:nth-of-type(3) {
        margin-top: 0.5px;
 
      }
    }

  }

  .scroll_up {
    left: 85%;
  }  
}

@media (max-width: 768px) {
  .hero {
    position: unset;
    background-size: contain;
    max-width: 100%;
    margin-top: -28px;

    .play-button {
      min-width: 50px;
      min-height: 48.26px;
     }
  }

  .hero-wave {
    position: absolute;
    margin-top: -0.1rem;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 2;
  }

  .call-to-action {
    flex-direction: column;
    padding: 0 6.25%;

    div {
      margin: 0;
      margin-left: unset;
      height: initial;
      justify-content: initial;
    }
  }

  .call-to-action div:nth-of-type(2) {
     margin-left: 0; 
  }

  .call-to-action div:nth-of-type(2) h3 {
    margin-left: 0;
  }

  .call-to-action div .bussiness-button {
    margin-left: 0;
  }

  .people {
    width: 100%;
    height: 90%;

    .column {
      &:nth-of-type(1) {
          flex: 49%;
          order: 3;

          img {
            margin-top: 0;
          }
        }
      
        &:nth-of-type(2) {
          flex: 51%;
          order: 4;

          img {
            margin-top: 0;
          }
        }
      
        &:nth-of-type(3) {
          order: 1;
          flex: 43.6%;
          margin-top: -22px;
        }
      
        &:nth-of-type(4) {
          order: 2;
          flex: 56.4%;

          img {
            margin-top: 1.5px;
          }
        }
      }

      .ripped-top {
        height: 24px;
      }

      .ripped-bottom {
        position: absolute;
        left: 0;
        z-index: 1;
        height: 50px;
        bottom: 0.1px;
      }
  }

  .supporters {
    padding: 0 6.25vw;
    position: relative;
    bottom: -30px;
    justify-content: unset;
  }

  h3 {
        margin-top: 110px;
  }

  .supporters-logos {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 43px;

      div {
        padding: 0;
      }

    div:nth-of-type(1) {
      width: 40.625vw;
      height: 13.75vw;
      max-width: 210px;
      margin-right: 5px;
    }
    div:nth-of-type(2) {
      width: 40.937vw;
      height: 15.937vw;
      max-width: 210px;
    }
    div:nth-of-type(3) {
      width: 40.937vw;
      max-width: 210px;
      height: 13.75vw;
      margin-right: 57px;
    }
    div:nth-of-type(4) {
      width: 15vw;
      max-width: 71px;
      height: 20.937vw;
      margin-right: 41px;
      margin-top: 20px;
    }

  }
  
  .contact {
    width: auto;
    margin-top: 80px;
    margin-bottom: 80px;

    .name-email {
      flex-direction: column;
      
      input {
        width: 100%;
      }
    }
  } 

  .scroll_up {
    left: 75%;
  }  
}

