@use '../base/colors';
@use '../util/fonts';

.idea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 85.5px 0 150px;

  h1 {
    margin-bottom: 59px;
  }  

  p {
    width: 606px;
    line-height: 22px;
    text-align: center;
  }
}

.juris {
  height: 705px;
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  background-image: url(../../assets/img/Juris\ \(1\)\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: -100px;
  // border: 1px solid red;

  .ripped-top {
    z-index: 3;
    transform: rotate(180deg);
    width: 100%;
    position: absolute;
    top: -0.1px;
    left: 0;
  }
  
  // .background {
  //   z-index: -1;
  //   width: 100%;
  //   transform: scale(0.998);
  // }
  
  .ripped-bottom {
    position: absolute;

    z-index: 3;
    width: 100%;
    height: auto; 
    bottom: -5px;
  }

  
  .juris-text {
    margin: auto;
    position: absolute;
    width: 818px;
    color: colors.$white;
    text-align: center;
    line-height: 36px;
  }
}

.reviews {
  position: relative;
  padding: 150px 0 155px;
  // z-index: 10;
  margin-bottom: -6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .text-wrapper {
    margin-left: -16px;
    margin-top: 1px;
    width: 602px;
  }

  h3 {
    line-height: 36px;
  }

  .Text2 {
    line-height: 22px;
    margin-top: 10px;
  }

  .Text1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-top: 32px;
    font-style: italic;
    letter-spacing: 0.18px;
  }

  .arrows {
    width: 602px;
    display: flex;
    margin-top: 30px;
    margin-top: 59px;
  }

  .arrow-right, .arrow-left {
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  .arrow-right {
    margin-left: 45px;
  }

  .arrow-left {
    transform: rotate(180deg);
  }
}

@media (min-width: 1201px) {
  .juris-text {
    bottom: 85px;
  }
}
@media (max-width: 1200px) {
  .juris {
    height: 499px;
  background-position: 50%;
  }
  .juris-text {
    bottom: 88px;
  }
}

@media (max-width: 768px) {
  .idea {

    h1 {
      font-size: 36px;
    }

    p {
      width: auto;
      font-size: 12px;
      padding: 0 6.25%;
    }
  }

  .juris {
    padding: 0 6.25%;
    height: 476px;
    // background-image: url(../../assets/img/Juris\ \(1\)\ 1.png);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: -400px;
    background-position: 70%;
    display: flex;
    align-items: flex-end;

    .juris-text {
      font-size: 18px;
      width: auto;
      padding: 0 6.25% 5.35%;
      bottom: unset;
    }

    .background {
      width: 921px;
      height: 476px;
    }
  }

  .reviews {
    margin: 0 6.25%;

    .text-wrapper {
      width: 100%;
      margin-left: 0;
      // padding: 0 6.25%;
    }

    h3 {
      font-size: 18px;
    }

    .Text2 {
      font-size: 14px;
      width: auto;
     }

    .Text1 {
      font-size: 12px;
      width: 70%;
     } 
     
     .arrows {
      width: 100%;
     }
  }
}
