@use '../base/colors';
@use '../util/fonts';

.iedvesmas-stasti  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 82px 0 93px;

  .top {
    margin: auto;
  }

  h1 {
    margin-top: 4px;
    margin-bottom: 58px;
    text-align: center;
  }  
  
  .Text1 {
    text-align: center;
    letter-spacing: 0.2px;
    margin-left: 1px;
  }

  .container {
    display: grid;
    width: 100%;
    height: auto;
    margin: 151px auto 146px;
    text-align: center;
    justify-content: center;
  }

  .eachVideo {
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .image, .image2 {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -2;
      transition: all 0.3s ease-in-out;
    }

    .img-overlay {
      position: absolute;
      left: 0;
      top: 0%;
      width: 100%;
      height: 100%;
      background: url(../../assets/img/image-grid-overlay.png);
      background-size: cover;
      opacity: 0.8;
      z-index: -1;
      transition: all 0.3s ease-in-out;
    }

    &:hover .img-overlay {
     opacity: 1; 
    }

    .name, .name2 {
      color: white;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }

    .name2 {
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0.4px;
    }

    .image-num {
      position: absolute;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      color: #FFFFFF;
      line-height: 53px;
      bottom: -5px;
      right: 14px;
    }
  }

  .eachVideo:hover .image {
    transform: scale(1.1);
    opacity: 0;
  }

  .eachVideo:hover .name, .eachVideo:hover .name2 {
    opacity: 1;
  }

  .video-overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(47, 72, 88, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 6.25%;
    z-index: 4;

    .name-in-video {
      font-size: 36px;
      color: #FFFFFF;
      line-height: 53px;
      margin-bottom: -29px;
    }
  }

  .close-button {
    width: 23px;
    height: 23px;
    justify-self: flex-end;
    align-self: flex-end;
    cursor: pointer;
    margin-right: 74px;
    margin-bottom: 33px;
    margin-top: 20px;
  }

  .video-tag {
    max-width: 912px;
    max-height: 511px;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    margin-top: -9px;
  }

  .team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      margin-bottom: 21px;
    }

    .Text2 {
      width: 606px;
      text-align: center;
      letter-spacing: 0.2px;
      margin-bottom: 62px;
    }

    .team-members {
      display: flex;
      flex-wrap: wrap;
    }
    
    .team-member {
      position: relative;
      width: 289px;
      height: 365px;
      overflow: hidden;
      
      .text-overlay {
        position: absolute;
        width: inherit;
        height: inherit;
        bottom: -50%;
        left: 0;
        transform: rotate(-180deg);
        opacity:0;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
     
        h3 {
          color: white;
          transform: rotate(-180deg);
          font-family: fonts.$OswaldL;
          font-size: 24px;
          margin-left: 10px;
          font-weight: 200;
          letter-spacing: 0.8px;
          text-align: center;
        }

        .Text2 {
          width: inherit;
          color: white;
          transform: rotate(-180deg);
          margin-top: 18px;
          margin-bottom: 0px;
          padding: 0 6.25%
        }
      }

      &:nth-of-type(1), &:nth-of-type(2) {
        margin-right: 83px;
      }
    }
      .team-member:hover .text-overlay {
        opacity: 1;
        bottom: 0;
        background: linear-gradient(180deg, rgba(47, 72, 88, 0.8) 18.63%, rgba(47, 72, 88, 0) 49.21%);
      }
  }
}

.overlay-body {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

@media (min-width: 1201px) {
  .iedvesmas-stasti {   
    .top {
    width: 810px;
    }
    
    .container {
      grid-template-columns: 160px 160px 160px 160px 160px 160px;
      grid-template-rows: 160px 160px 160px 160px 160px 160px; 
      column-gap: 14px;
      row-gap: 14px;
    }

    .play-button {
      top: 54%;
      margin-top: 29px;
      max-width: 123px 
    }

    .name-in-video {
      font-size: 36px;
      color: #FFFFFF;
      line-height: 53px;
      margin-bottom: -29px;
    }
  }
}

@media (max-width: 1200px) {
  .iedvesmas-stasti  {
    padding: 82px 0 0px;

    .top {
      margin: 0 6.25%;
    }

    .container {
      grid-template-columns: 18.619vw 18.619vw 18.619vw 18.619vw;
      grid-template-rows: 18.619vw 18.619vw 18.619vw 18.619vw; 
      column-gap: 1.56vw;
      row-gap: 1.56vw;
      margin: 80px auto 50px;

    .eachVideo {
        width: 18.619vw;
        height: 18.619vw;
        }
      }

      .skatit-vairak {
        font-family: fonts.$Montserrat;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        height: 50px;
        width: 233px;
        border: none;
        border-radius: 25px;
        background-color: colors.$orange;
        color: colors.$white;
        transition: all 0.1s ease-in-out;
        text-align: center;
        margin: 0 auto 150px;
    
        &:hover {
          background-color: colors.$hover;
          transition: all 0.1s ease-in-out;
        }
    
        &:active {
          background-color: colors.$orange;
        }
      }

      .team {
        margin: 30px 10.41% 150px;
       
        .team-members {
          justify-content: center;
          align-items: center;
          flex-direction: column;

          .team-member {
            width: 352px;
            height: 443px;

            &:nth-of-type(1), &:nth-of-type(2) {
              margin-right: 0;
              margin-bottom: 25px;
            }

            img {
              width: 100%;
            }
          }
        }

        .Text2 {
          flex-wrap: wrap;
          width: 100%;
        }
      }
      
      .close-button {
        margin-right: 0;
      }

      .play-button {
        max-width: 86px;
        width: 86px;
      }  
    }
  }

@media (max-width: 768px) {
  .iedvesmas-stasti  {
    padding: 50px 0 0;

    .top {
      margin: 0 6.25%;

    }

    .container {
      grid-template-columns: 41.875vw 41.875vw;
      grid-template-rows: 41.875vw 41.875vw; 
      column-gap: 3.529vw;
      row-gap: 3.529vw;
      

      .eachVideo {
        width: 41.875vw;
        height: 41.875vw;
      }
    }
    
    .skatit-vairak {
      margin: 0 auto 120px;
    }


    .team {
      margin: 0 6.25% 120px;

      .team-members{
        gap: 25px;

        .team-member {
          width: 280px;
          height: 354px;
        }        
      }

      .Text2 {
        font-size: 14px;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 80px;
      }
    }

    .close-button {
      width: 15px;
      height: 15px;
    }  

    .play-button {
      max-width: 50px;
      width: 50px;
      margin-top: 0;
      top: 50%;
    }

    .name-in-video {
      font-size: 24px;
    }
  }
}

