.iedvesmas-stasti  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 82px 0 50px;

  .top {
    width: 810px;
    margin: auto;
  }

  h1 {
    margin-top: 4px;
    margin-bottom: 63px;
    text-align: center;
  }  
  
  .Text2 {
    text-align: center;
    margin-top: 2px;
  }

}