@use '../base/colors';
@use '../util/fonts';

.dream {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 112.5px 0 50px;

  h1 {
    margin-bottom: 60px;
  }  

  .Text1 {
    line-height: 29px;
    text-align: center;
  }
}

.choose-dream {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 150px;
  margin: 0 35px;


  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    align-items: center;
    text-align: center;
    width: 394px;
    height: 594px;
    margin-top: 40px;

    p {
      margin-bottom: 50px;
    }

    button {
      font-family: fonts.$Montserrat;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      height: 50px;
      width: 233px;
      border: none;
      border-radius: 25px;
      background-color: colors.$orange;
      color: colors.$white;
      transition: all 0.1s ease-in-out;

      &:hover {
        background-color: colors.$hover;
        transition: all 0.1s ease-in-out;
      }

      &:active {
        background-color: colors.$orange;
      }
    }
  }

  div:nth-of-type(1) {
    h2 {
      margin-top: 30px;
    }
    button {
      margin-top: 60px;
    }
  }

  div:nth-of-type(2) {
    img {
      margin-bottom: 49px;
    }
    p {
      margin-top: 30px;
    }
  }
}

.people-2 {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;

  .dream-image-wrapper {
    width: 100%;
    position: relative;
    top: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .ripped-top {
    position: absolute;
    left: 0;
    top: -0.1rem;
    width: 100%;
    z-index: 2;
    transform: rotate(180deg);
    height: 63px;
  }


  .ripped-bottom {
    position: absolute;
    left: 0;
    bottom: -0.9rem;
    width: 100%;
    z-index: 3;
    height:60px;
  }

  .column {
    &:nth-of-type(1) {
      flex: 19.5%;
      z-index: 0;
    }

    &:nth-of-type(2) {
      flex: 20.5%;
      z-index: 0;
    }

    &:nth-of-type(3) {
      flex: 21%;
    }

    &:nth-of-type(4) {
      flex: 34%;
    }
  }

  .one {
    width: 120%;
    transform: scale(1.05);
    margin-top: 30px;
    margin-left: 5px;
  }

  .two {
    width: 100%;
    margin-top: 10px;
  }


  .three {
    width: 100%;
    margin-top: 10px;
  }

  .four {
    width: 100%;
    margin-bottom: 100px;
  }

  .five {
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
  }

  .ripped-bottom {
    bottom: 5.099999999999994rem;
  }
}

 .contact .dream {
  margin: 65px auto 196px;
  z-index: 5;
  padding-bottom: -1px;

  .form {
    margin-top: 0;
  }

  .button {
    margin-top: 10px;
  }
}

.footer {
  z-index: 0;

  .footer-ripped {
    z-index: 0;
  }
}

// Media Queries 
@media (min-width: 1201px) {
  .people-2 {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;

    .ripped-top-mobile,
    .ripped-bottom-mobile {
      display: none;
    }
  
    .ripped-top {
      position: absolute;
      left: 0;
      top: -0.1rem;
      width: 100%;
      z-index: 2;
      transform: rotate(180deg);
      height: 63px;
    }
  
    .ripped-bottom {
      position: absolute;
      left: 0;
      bottom: -0.9rem;
      width: 100%;
      z-index: 1;
      height:60px;
    }
  
    .column {
      &:nth-of-type(1) {
        flex: 19.5%;
        z-index: 0;
      }
  
      &:nth-of-type(2) {
        flex: 20.5%;
        z-index: 1;
      }
  
      &:nth-of-type(3) {
        flex: 21%;
      }
  
      &:nth-of-type(4) {
        flex: 34%;
      }
    }
  
    .one {
      width: 120%;
      transform: scale(1.05);
      margin-top: 30px;
      margin-left: 5px;
    }
  
    .two {
      width: 100%;
      margin-top: 10px;
    }
  
    .three {
      width: 100%;
      margin-top: 10px;
    }
  
    .four {
      width: 100%;
      margin-bottom: 100px;
    }
  
    .five {
      width: 100%;
      max-width: 100%;
      margin-top: 10px;
    }
  
    .ripped-bottom {
      bottom: 5.099999999999994rem;
    }
  }
}

@media (max-width: 1200px) {
  .dream {

    .Text1 {
      padding: 0 6.25%;
    }
  }

  .choose-dream {
    flex-direction: column;
    justify-content: center;
    padding: 30px 6.25% 150px;
    margin: 0;

    div {
      height: auto;
      width: 100%;


      p {
        width: 100%;
      }

      &:first-of-type {
        margin-bottom: 150px;

        p {
          margin-top: 30px;
        }
        
        button {
          margin: 0;
        }
      }
    }
  }

  .people-2 {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;

    .ripped-top-mobile,
    .ripped-bottom-mobile {
      display: none;
    }
    
    .ripped-top {
      display: block;
      position: absolute;
      left: 0;
      top: -0.1rem;
      width: 100%;
      z-index: 2;
      transform: rotate(180deg);
      height: 63px;
    }
  
    .ripped-bottom {
      display: block;
      position: absolute;
      left: 0;
      bottom: -0.9rem;
      width: 100%;
      z-index: 1;
      height:60px;
    }
  
    .column {
      &:nth-of-type(1) {
        flex: 19.5%;
        z-index: 0;
      }
  
      &:nth-of-type(2) {
        flex: 20.5%;
        z-index: 1;
      }
  
      &:nth-of-type(3) {
        flex: 21%;
      }
  
      &:nth-of-type(4) {
        flex: 34%;
      }
    }
  
    .one {
      width: 120%;
      transform: scale(1.05);
      margin-top: 30px;
      margin-left: 5px;
    }
  
    .two {
      width: 100%;
      margin-top: 10px;
    }
  
    .three {
      width: 100%;
      margin-top: 10px;
    }
  
    .four {
      width: 100%;
      margin-bottom: 100px;
    }
  
    .five {
      width: 100%;
      max-width: 100%;
      margin-top: 10px;
    }
  
    .ripped-bottom {
      bottom: 5.099999999999994rem;
    }
  }

}

@media (max-width: 768px) {
  .dream {
    h1 {
      font-size: 36px;
    }

    .Text1 {
      font-size: 14px;
    }
  }

  .choose-dream {
    h2 {
      font-size: 18px;
    }

    .Text2 {
      font-size: 12px;
    }
  }

  .people-2 {
    width: 100%;
    height: 90%;

    .ripped-top, .ripped-bottom {
      display: none;
    }

    .dream-image-wrapper {
      position: relative;
      top: 0;
      bottom: 0;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
    }

    .column {
      &:nth-of-type(1) {
          flex: 48%;
          order: 3;
          z-index: -1;
          margin-top: -2px;
          height: 195%;

          img {
            margin-top: 0px;
            width: 100%;
          }
        }
      
        &:nth-of-type(2) {
          z-index: 0;
          flex: 52%;
          order: 4;

          img:first-of-type {
            margin-top: -11px;
            z-index: 3;
          }
          img:last-of-type {
            margin-top: -30px;
            z-index: -1;
          }
        }
      
        &:nth-of-type(3) {
          order: 1;
          flex: 38.5%;
          margin-top: -2px;
          z-index: 1;
        }
      
        &:nth-of-type(4) {
          order: 2;
          flex: 61.5%;
          z-index: 2;
        }
      }

      .one {
        margin-left: 4px;
      }

      .three {
        margin-top: -10px;
      }

      .four {
        margin-bottom: 0;
      }

      .ripped-top-mobile {
        display: block;
        position: absolute;
        top: 0;
        height: 24px;
        width: 100%;
        z-index: 3;
        margin-top: 5px;
      }

      .ripped-bottom-mobile {
        display: block;
        position: absolute;
        bottom: 0;
        z-index: 3;
        height: 30px;
        max-height: 60px;
        width: 100%;
        margin-bottom: -1px;
      }
    }

    .contact .dream {
      width: auto;
      margin: 50px 6.25% 150px;

      .name-email {
        flex-direction: column;
        
        input {
          width: 100%;
        }
      }
    } 

    .contact {
      // h2 {
      //   font-size: 24px;
      // }
      .form {
        input, textarea {
          font-size: 14px;
        }
      }

      .important, .rules {
        font-size: 12px;
      }
    }
      .send {
        font-size: 18px;
        width: 140px;
        height: 48px;
      }
}
