@use '../base/colors';
@use '../util/fonts';

.sapnu-banka .hero {
  margin-bottom: 47.4px;

  // .hero {

    .play-button:hover {
        opacity: 0.9;
          transition: all 0.1s ease-in-out;
    }
  // }
}

.sapnu-banka .top, .sapnu-banka .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 86px auto -7px;;

  h1 {
    text-align: center;
    line-height: 71px;
  }
}



.goal-mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 151px;
  
  h2:first-of-type {
    margin: 142px 0 90px;
  }

  h2:last-of-type {
    margin: 48px 0 48px;
  }

  .Text1 {
    letter-spacing: 0.2px;
    text-align: center;
  }
}

.goal-mission-row {
  width: 706px;
  margin-bottom: 106px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  p {
   margin-left: 62px 
  }

  &:nth-of-type(2) {
    flex-direction: row-reverse;
    margin-left: 0;
    margin-right: 100px;

    p {
      margin-left: 0; 
      margin-right: 62px; 
     }
  }
}

.between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  height: 533px;
  background-image: url(../img/Subtract.png);
  background-repeat:no-repeat;
  background-size: cover;
  padding: 76px 0 101px;
  color: colors.$white;

  .Text1 {
    text-align: center;
    letter-spacing: 0.2px;
  }
}

.between-img-1 {
  width: 367.6px;
  height: 256.63px;
  margin-left: -2px;
}

.between-img-2 {
  width: 401.6px;
  height: 257px;
  margin-left: -37px;
}

.sapnus-atlasis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 152px 157px 3px;

  div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12px;

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      width: 30%;
      margin: 59px 0 154px;
      height: 265px;

      &:first-of-type {
        p {
          margin-bottom: 25px;
          letter-spacing: 0.2px;
        }
      }
    }
  }
}

.sapnu-banka .call-to-action  {
  padding: 154px 174px 102px;
}

// Media Queries 
@media (min-width: 1201px) {
  .between-text-1 {
    width: 818px;
    padding: unset;
  }
  
  .between-text-2 {
    width: 1031px;
    padding: unset;
  }
}
@media (max-width: 1200px) {
  .between-text-1, .between-text-2 {
    width: 100%;
    padding: 40px 6.25% 0;
  }
  .goal-mission-row {
    width: unset;
    padding: 0 6.25%;
  }

  .goal-mission {
    .Text1 {
      width: unset;
      padding: 0 6.25%;
    }
  }
  .sapnus-atlasis {
    margin: 158px 80px 6px;
    div {
      div {
        width: unset;
        &:nth-of-type(1) {
          padding-right: 20px;
        }
        &:nth-of-type(2) {
          padding-left: 20px;
        }
      } 
      .Text1 {
        font-size: 18px;
      }
    }
  }
}

      
@media (max-width: 768px) {
  .sapnu-banka .top {
    h1 {
      font-size: 36px;
    }
  }

  .goal-mission h2{
    font-size: 24px;
  }

  .goal-mission-row {
    flex-direction: column;
    margin-left: unset;
  
    p {
        margin: unset;
        padding-top: 20px;
        text-align: center;
      }

    &:nth-of-type(2) {
      flex-direction: column;
      margin-right: unset;

      p {
        margin-right: unset;
       }
    }
  }

  .sapnu-banka .call-to-action {
    padding: 50px 6.25% 10px;

    h3 {
      font-size: 18px;
    }

    div:nth-of-type(2) {
      margin-top: 70px;
    }
   }

   .between {
    padding: 76px 6.25% 101px;
   }

   .between-text-1, .between-text-2 {
    font-size: 18px;
    padding: 40px 0 0;
  }
  .between-img-1, .between-img-2 {
    margin-left: unset;
  }

  .sapnus-atlasis {
    margin: 120px 6.25%;

    h2 {
      text-align: center;
      font-size: 24px;
    }
    div {
      flex-direction: column;

      div {
        margin: 60px 0 0;

        &:nth-of-type(1) {
          padding-right: unset;
        }
        &:nth-of-type(2) {
          padding-left: unset;
        }
      }
    }
  }
}
