// #consent-popup {
.consent-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 46px;
  background-color: #353535;
  color: white;
  transition: opacity 1s ease;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 818px;
  height: 93.74px;
  border-radius: 8px 8px 0 0;
  margin: 0 auto;
  background-color: #2F4858;
  z-index: 4;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

  p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 376px;
  }

  a {
    font-weight: bolder;
    color: white;
  }

  .send {
    background-color: #FFA800;
    width: 131px;
    height: 34px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-top: 3px;

    &:first-of-type {
      margin-right: 28px;
    }
    &:last-of-type {
      background-color: #FFFFFF;
      color: #2F4858;
    }
    &:last-of-type:hover {
      background-color: #FFA800;
      color: white;
    }
  }

}

.hidden {
  display: none;
}

.disabled {
  display: none;
}

@media (max-width: 1200px) {
  .consent-popup {
    height: 130px;
    width: 60%;
    padding: 0 6.25%;

    p {
      margin-right: 20px;
    }

    .cookie-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center
    }
    
     .send:first-of-type {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 768px) {
  .consent-popup {
    width: 80%;
    height: auto;
    padding: 20px 6.25%;
    // flex-direction: column;

    p {
      width: 80%;
    }
  }
}

@media (max-width: 567px) {
  .consent-popup {
    text-align: center;
    flex-direction: column;
    
    p {
      margin-right: 0;
      margin-bottom: 20px;
      
    }
  }
}
