@use '../base/colors';
@use '../util/fonts';
@use '../util/mixins' as mix;

footer {
  @include mix.background($background: url(../../assets/img/footer\ background.png));
  @include mix.size($min-height: 376px);
  padding-top: 70px 82px 20px 82px;
  // z-index: 100;
  display: flex;
  position: relative;
}

.footer-rows {
  @include mix.flex($justify: space-around);
  width: 100%;
  padding: 70px 62px 17px;
}

.row {
  @include mix.size($height: 100%);
  @include mix.flex($direction: column, $justify: space-between, $align: flex-start);

  &:nth-of-type(1) {
    width: 83%;

    p {
      display: none;
    }
    
    small {
      font-family: fonts.$Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: colors.$white;
    }
  }

  &:nth-of-type(2) {
    width: 67%;
    padding-bottom: 50px;

    p {
      font-family: fonts.$Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: colors.$white;
    }
  }

  &:nth-of-type(3) {
    width: 70%;
    justify-content: flex-start;

    p{
      padding-bottom: 14px;
      font-family: fonts.$Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: colors.$white;
    }

    p:nth-of-type(1){
      font-family: fonts.$Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: colors.$white;
    }


    p:nth-of-type(4){
      margin-top: -0.5rem;
    }
  }

  &:nth-of-type(4) {
    justify-content: space-between;
    align-items: flex-end;

    p {
      font-family: fonts.$Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      text-align: right;
      color: colors.$white;
      letter-spacing: 0.2px;
    }

    p:nth-of-type(1) {
      font-family: fonts.$Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-align: right;
      color: colors.$white;
    }

    p:nth-of-type(2) {
     margin-top: -4px; 
    }

    p:nth-of-type(3) {
      margin-top: -6px;
    }

    p:nth-of-type(4) {
      padding-bottom: 38px;
    }

    small {
      font-family: fonts.$Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      text-align: right;
      color: colors.$white;
    }
    p:last-of-type {
      display: none;
    }
  }
}

.socials {
  display: flex;
  margin-bottom: 32px;

  img {
    margin-left: 30px;
  }
}

// Media Queries 
@media (min-width: 1201px) {
  .footer {
    height: 382px;
  }

  .row:nth-of-type(4) p:nth-of-type(2) {
    margin-top: 0; 
  }
  
  .row:nth-of-type(4) p:nth-of-type(4) {
    padding-bottom: 38px;
  }

  .row:nth-of-type(4) p:nth-of-type(3) {
    margin-top: 0;
  }

  .socials {
    margin-bottom: 12px;
  }

  .for-mobile {
    display: none;
  }
}

@media (max-width: 1200px) {
  .footer-rows {
    height: 100%;

    .row:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      img {
        width: 160px;
        height: 160px;
      }

      p {
        margin-top: 31px;
      }

      small {
        margin-top: 40px;

        br {
          display: none;
        }
      }
    }

    div:nth-of-type(1) {
      p {
        display: block;
        font-family: fonts.$Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-align: right;
        color: colors.$white;
      }
      small br {
        display: none;
      }
    }

    div:nth-of-type(2) {
      display: none;
    }
    div:nth-of-type(3) {
      display: none;
    }
    div:nth-of-type(4) {
      p:first-of-type {
        display: none;
      }
      p:nth-of-type(3) {
      margin-top: 10px;
      }
      p:nth-of-type(4) {
      margin-top: 10px;
      padding-bottom: unset;
      }
      p:last-of-type {
        margin-top: 10px;
        display: block;
        font-weight: bold;
      }
    
      .socials {
        margin-top: 30px;
      }

      small {
        margin-top: 20px;
      }
    }
    .for-mobile {
      display: none;
    }
  }
}


@media (max-width: 768px) {

  .footer-rows {
    @include mix.flex($direction: column, $justify: flex-start, $align: flex-start);
    @include mix.padding($top: 110px, $bottom: 20px)
  }

  .row:nth-of-type(1) {
    padding-bottom: 25px;

    img {
      width: 100px;
      padding-bottom: 10px;
    }

    small {
      display: none;
    }
  }

  .row:nth-of-type(4) {
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-rows div:nth-of-type(1) p {
    display: none;
  }

  .footer-rows div:nth-of-type(4)  {
    p:first-of-type {
      display: block;
      font-size: 18px;
    }

    small {
      text-align: left;
      font-size: 11px;
    }
  }

  .footer-rows div:nth-of-type(4) p:nth-of-type(4) {
    padding-bottom: 20px;
}

  .row:nth-of-type(4) p {
    padding-bottom: 20px;
    text-align: left;
  }
  
  .footer-rows div:nth-of-type(4) p:nth-of-type(2) {
    font-size: 12px;
  }

  .footer-rows div:nth-of-type(4) p:nth-of-type(3) {
    margin-top: unset;
   font-size: 12px;
  }

  .footer-rows div:nth-of-type(4) p:nth-of-type(4) {
    margin-top: unset;
    font-size: 12px;
  }

  .footer-rows div:nth-of-type(4) p:last-of-type {
    margin-top: unset;
    font-size: 14px;
  }

  .socials img {
    margin-left: 0;
    margin-right: 30px;
  }

  .footer-rows div:nth-of-type(4) .socials {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .footer-rows div:nth-of-type(4) small:nth-of-type(2) {
    margin-top: 10px;
  }

  .for-mobile {
    display: inline !important;
    margin-top: 20px !important;
    text-align: left !important;
  }
}
