@use '../base/colors';
@use '../util/fonts';
@use '../util/mixins' as mix;
@use '../base/breakpoints' as breakpoints;

.header {
  @include mix.size($min-height: 120px);
  @include mix.background($background: url(../../assets/img/header\ background.png));
  @include mix.padding($right: 45px, $left: 45px);
  @include mix.flex($justify: space-between, $align: center);
  z-index: 3;
  
  .logo {
    @include mix.position($position: absolute, $top: -15px, $left: 62px);
    Width: 159px;
    Height: 146px;
    z-index: 6;
  }

  .nav {
    .nav-link {
      font-family: fonts.$MontserratM;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      height: 24px;
      color: colors.$navbar;
      text-decoration: none;
      border-bottom: 3px solid transparent;
      transition: all 0.1s ease-in-out;
      text-align: center;
      
      &:hover {
        font-weight: 600;
        border-bottom: 3px solid colors.$orange;
        transition: all 0.1s ease-in-out;
      }
    }
    
    .language {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      border: none;
      font-family: fonts.$MontserratM;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: colors.$navbar;
      margin-left:24px;
    
      &:focus {
        border: none;
        outline: none;
        background-color: none;;
      }
    }
  }

  .hamburger {
    @include mix.position($top: 22px);
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 6;
  }
  
  .hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    @include mix.size($height: 3px);
    background-color: colors.$navbar;
    margin: 4px 0px;
    display: block;
    transition: 0.4s;
  }
  
  .is-active {
    top: 26px;
  }

  .hamburger.is-active:after {
    margin: 12px 0;
  }
  
  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
  }
  
  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
  }
  
  .hamburger.is-active .bar {
    opacity: 0;
  }

  .sticky {
    position: fixed;
    top: 0;
    left: 0;
  }
  

  // Media Queries 
@media (min-width: breakpoints.$large){
  .header {
    @include mix.size($min-height: 120px);
  }

  .nav {
    @include mix.flex($justify: space-between, $align: flex-end);
    width: 100%;
    height: 45px;
    padding-bottom: 8px;
    margin-left: 258px;
  }

  .mobile-nav {
		display: none;
	}

	.hamburger {
		display: none;
	}
}

@media (max-width: breakpoints.$medium){
  .header {
    @include mix.flex($justify: space-between);
    @include mix.size($min-height: 96px);
    padding: 80px;
  }

  .sticky {
    @include mix.position($position: fixed, $top: -35px, $left: 0);
  }

  .logo {
    @include mix.position($position: static, $left: 112px);
    width: 127px;
    height: 107px;
    z-index: 6;
  }



  .nav {
    display: none;
    }
  }

  .hamburger {
    top: -5px;
  }
}

@media (max-width: breakpoints.$small) {
  .header{
    @include mix.size($min-height: 67.09px);
    position: relative;
    @include mix.padding;
    background-position: center;
    justify-content: space-between;
    text-align: center;

    .logo {
      @include mix.position($position: static, $left: 20px);
      width: 78px;
      height: 72px;
      z-index: 10;
    }
  
    .nav {
      display: none;
    } 
  }
}